<div class="container mx-auto px-6 py-10">
  <h1 class="text-3xl font-bold mb-8 text-primary">
    {{ "features.careers.jobsAvailable" | translate }}
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <!-- Sidebar -->
    <aside
      class="bg-white border border-gray-300 rounded-2xl p-6 space-y-6 md:col-span-1"
    >
      <!-- Clear All -->
<div class="flex justify-end mb-4">
  <button
    class="text-xs cursor-pointer font-semibold text-red-600 border border-red-600 rounded-lg px-2 py-1 hover:bg-red-600 hover:text-white transition-all duration-300 shadow-sm"
    (click)="clearAll()"
  >
    {{ "features.careers.clearAll" | translate }}
  </button>
</div>
      <!-- Categories -->
      <div>
        <div class="flex items-center justify-between mb-3">
          <h2 class="font-semibold text-gray-800">
            {{ "features.careers.jobCategories" | translate }}
          </h2>
          <button
            class="text-xs text-primary hover:underline"
            (click)="clearFilter('categories')"
          >
            {{ "features.careers.clear" | translate }}
          </button>
        </div>
        <div class="space-y-2">
          <label
            class="flex items-center justify-between text-gray-600"
            *ngFor="let cat of categories"
          >
            <div class="flex items-center gap-2">
              <input
                type="checkbox"
                [checked]="filters.types.includes(cat.name)"
                (change)="toggleFilter(filters.types, cat.name)"
                class="rounded text-primary"
              />
              {{ cat.name | localized : languageService.currentLang }}
            </div>
            <span class="text-xs text-gray-400">({{ cat.count }})</span>
          </label>
        </div>
      </div>

      <!-- Job Types -->
      <div>
        <div class="flex items-center justify-between mb-3">
          <h2 class="font-semibold text-gray-800">
            {{ "features.careers.jobTypes" | translate }}
          </h2>
          <button
            class="text-xs text-primary hover:underline"
            (click)="clearFilter('types')"
          >
            {{ "features.careers.clear" | translate }}
          </button>
        </div>
        <div class="space-y-2">
          <label
            class="flex items-center justify-between text-gray-600"
            *ngFor="let t of jobTypes"
          >
            <div class="flex items-center gap-2">
              <input
                type="checkbox"
                [checked]="filters.types.includes(t.name)"
                (change)="toggleFilter(filters.types, t.name)"
                class="rounded text-primary"
              />
              {{ t.name | localized : languageService.currentLang }}
            </div>
            <span class="text-xs text-gray-400">({{ t.count }})</span>
          </label>
        </div>
      </div>

      <!-- Companies -->
      <div>
        <div class="flex items-center justify-between mb-3">
          <h2 class="font-semibold text-gray-800">
            {{ "features.careers.companies" | translate }}
          </h2>
          <button
            class="text-xs text-primary hover:underline"
            (click)="clearFilter('companies')"
          >
            {{ "features.careers.clear" | translate }}
          </button>
        </div>
        <div class="space-y-2">
          <label
            class="flex items-center justify-between text-gray-600"
            *ngFor="let comp of companies"
          >
            <div class="flex items-center gap-2">
              <input
                type="checkbox"
                [checked]="filters.companies.includes(comp.name)"
                (change)="toggleFilter(filters.companies, comp.name)"
                class="rounded text-primary"
              />
              {{ comp.name | localized : languageService.currentLang }}
            </div>
            <span class="text-xs text-gray-400">({{ comp.count }})</span>
          </label>
        </div>
      </div>
    </aside>

    <!-- Jobs Grid -->
    <main class="md:col-span-3">
      <!-- Sorting -->
      <div class="flex justify-end mb-4">
        <p-select
          [options]="sortOptions"
          [(ngModel)]="sortOption"
          optionLabel="label"
          optionValue="value"
          placeholder="{{ 'features.careers.sortJobs' | translate }}"
          class="w-56 rounded-xl border border-gray-300 shadow-sm cursor-pointer"
        >
          <ng-template let-option pTemplate="item">
            <div
              class="flex items-center gap-2 text-gray-700 hover:text-primary"
            >
              <i [class]="option.icon + ' text-primary'"></i>
              <span>{{ option.label }}</span>
            </div>
          </ng-template>
        </p-select>
      </div>

      <!-- Cards grid -->
      <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        <div
          *ngFor="let job of filteredJobs"
          class="bg-white border border-gray-300 rounded-2xl p-6 hover:shadow-lg transition flex flex-col"
        >
          <!-- Logo + Type -->
          <div class="flex items-center justify-between mb-4">
            <div
              class="w-14 h-14 border p-1 bg-gray-100 rounded-xl flex items-center justify-center"
            >
              <img
                [src]="job.logo"
                [alt]="job.company | localized : languageService.currentLang"
                class="w-full h-full rounded-xl object-cover "
                (error)="onLogoError($event)"
              />
            </div>

            <!-- Badge by Type -->
            <span
              class="text-xs px-2 py-1 rounded-lg font-medium"
              [ngClass]="{
                'bg-green-100 text-green-600':
                  (job.type | localized : languageService.currentLang) ===
                    'Full Time' ||
                  (job.type | localized : languageService.currentLang) ===
                    'دوام كامل',
                'bg-blue-100 text-blue-600':
                  (job.type | localized : languageService.currentLang) ===
                    'Part Time' ||
                  (job.type | localized : languageService.currentLang) ===
                    'دوام جزئي',
                'bg-purple-100 text-purple-600':
                  (job.type | localized : languageService.currentLang) ===
                    'Contract' ||
                  (job.type | localized : languageService.currentLang) ===
                    'عقد',
                'bg-yellow-100 text-yellow-600':
                  (job.type | localized : languageService.currentLang) ===
                    'Internship' ||
                  (job.type | localized : languageService.currentLang) ===
                    'تدريب'
              }"
            >
              {{ job.type | localized : languageService.currentLang }}
            </span>
          </div>

          <!-- Job Info -->
          <h3 class="text-lg font-semibold text-gray-800 mb-1">
            {{ job.title | localized : languageService.currentLang }}
          </h3>

          <div class="space-y-2 text-sm text-gray-600">
            <!-- Company -->
            <p class="flex items-center gap-1">
              <img
                src="icons/careers/company-icon.svg"
                alt="company icon"
                class="w-4 h-4"
              />
              {{ job.company | localized : languageService.currentLang }}
            </p>

            <!-- Job Code -->
            <p class="flex items-center gap-1">
              <img
                src="icons/careers/hashtag-icon.svg"
                alt="hashtag icon"
                class="w-4 h-4"
              />
              {{ "features.careers.jobCode" | translate }}: {{ job.code }}
            </p>

            <!-- Date -->
            <p class="flex items-center gap-1">
              <img
                src="icons/careers/calender-icon.svg"
                alt="calender icon"
                class="w-4 h-4"
              />
              {{ "features.careers.posted" | translate }}: {{ job.postedDate }}
            </p>

            <!-- Location -->
            <p class="flex items-center gap-1">
              <img
                src="icons/careers/map-marker-icon.svg"
                alt="Map marker  icon"
                class="w-4 h-4"
              />
              {{ job.location | localized : languageService.currentLang }}
            </p>

            <!-- Role -->
            <p class="flex items-center gap-1">
              <img
                src="icons/careers/user-role-icon.svg"
                alt="User Role icon"
                class="w-4 h-4"
              />
              {{ job.role | localized : languageService.currentLang }}
            </p>
          </div>

          <!-- Footer -->
          <div class="mt-auto">
<button
  (click)="goToJobDetails(job.id)"
  class="w-full cursor-pointer mt-4 px-4 py-2 border border-primary text-primary rounded-xl hover:bg-primary hover:text-white transition"
>
  {{ "features.careers.jobDetails" | translate }}
</button>
          </div>
        </div>
      </div>

      <!-- No Jobs -->
      <div *ngIf="filteredJobs.length === 0" class="text-center text-gray-500">
        {{ "features.careers.noJobs" | translate }}
      </div>

      <!-- Load More -->
<div class="flex justify-center mt-8">
  <button
    class="px-6 py-3 cursor-pointer bg-accent text-white rounded-xl hover:bg-accent-light transition"
  >
        {{ "shared.loadMore" | translate }}
  </button>
</div>
    </main>
  </div>
</div>


