@theme {
  --color-primary: #06332e;
  --color-primary-light: #145c53;
  --color-primary-dark: #021d1b;
  --color-primary-op: #d3f9f5;

  --color-accent: #b9a779;
  --color-accent-light: #d1c497;
  --color-accent-dark: #8c7e59;

  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --color-success: #198754;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #2563eb;
}
