@theme {
  --default-font-family: "Tajawal", Arial, sans-serif;
  --font-ar: "Tajawal", Arial, sans-serif;
  --font-header-ar: "Amiri", Arial, sans-serif;
  --font-en: "Roboto", Arial, sans-serif;
  // --font-logo-ar: "Rubik", Arial, sans-serif;
  // --font-logo-en: "Raleway", Arial, sans-serif;
  
}

html[dir="rtl"] {
  --font-sans: var(--font-ar) !important;
}
html[dir="rtl"] h1,
html[dir="rtl"] h2,
html[dir="rtl"] h3,
html[dir="rtl"] h4,
html[dir="rtl"] h5,
html[dir="rtl"] h6 {
 font-family: var(--font-header-ar) !important;
}
html[dir="ltr"] {
  --font-sans: var(--font-en) !important;
}

// body.rtl .logo { @apply font-logo-ar; }
// body.ltr .logo { @apply font-logo-en; }
