@use "tailwindcss";
@use "./styles/colors";
@use "./styles/fonts";
@use "./styles/typography";
@use "./styles/animations";
// body{background-color: var(--color-accent);}
button{
    cursor: pointer;
}

:root {
  --checkbox-active-bg: var(--color-primary);
  --checkbox-active-border: var(--color-primary);
  --checkbox-hover-border: var(--color-primary-light);
}

.p-checkbox {
  .p-checkbox-box {
    border-radius: 0.375rem; 
    border: 2px solid var(--color-neutral-400);
    transition: all 0.2s;
  }

  .p-checkbox-box.p-highlight {
    background: var(--checkbox-active-bg);
    border-color: var(--checkbox-active-border);
  }

  &:hover .p-checkbox-box {
    border-color: var(--checkbox-hover-border);
  }
}



// select style


.p-inputwrapper.p-select,
.form-date-picker input,
input.p-inputnumber-input {
  font-size: var(--text-base);
  border-radius: var(--radius-xl);
}

.p-inputwrapper.p-select:focus,
.p-inputnumber-input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--color-primary-op);
}

.p-inputwrapper.p-select:hover {
  border-color: red;
}

.p-select-option.p-select-option-selected {
  background-color: var(--color-primary-op) !important;
  color: var(--color-primary) !important;
  font-weight: 600;
}

.p-select-dropdown-icon {
  transition: transform 0.3s ease;
}

.p-select.p-select-open .p-select-dropdown-icon {
  transform: rotate(180deg);
}
